################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BP.ACoE.NugetPackages
/BP.ACoE.ChatBotHelper/bin/Debug/net6.0
/BP.ACoE.ChatBotHelper/obj
/BP.ACoE.ChatBotHelper/bin/Debug
